*{
	margin: 0;
	padding: 0;
}

#sidebar{
	position: fixed;
	width: 200px;
	height: 100%;
	background: #424242;
	left: -200px;
	transition: all 500ms linear;
}

#sidebar.active{
	left: 0;
}

#sidebar ul li{
	color: rgba(224, 224, 224, .9);
	text-align: center;
	padding: 15px 10px;
	list-style: none;
	border-bottom: 1px solid rgba(100, 100, 100, .3);
}

#sidebar a{
	color: rgba(224, 224, 224, .9);
	left: 50px;
	padding: 15px 10px;
	list-style: none;
	border-bottom: 1px solid rgba(100, 100, 100, .3);
}

.logo{
	border-radius: 50%;
}

#sidebar .toggle-btn{
	position: absolute;
	left: 230px;
	top: 20px;
	cursor: pointer;
}

#sidebar .toggle-btn span{
	display: block;
	width: 40px;
	text-align: center;
	font-size: 30px;
	border: 1px solid #000;
}